<h2>Follow Users</h2>
<% if @users.exists? %>
  <%= render '/users/index', users: @users %>
<% else %>
  <p>ユーザーはいません</p>
   <td><%= attachment_image_tag user, :profile_image, size:'60x60', format: 'jpeg', fallback: "no_image.jpg" %></td>
<% end %>